<section class=" mx-auto p-3 m-2 tab-pane active" id="create">
  <h1 class="text-center text-white" id="head">Create Account</h1>
  <div *ngIf="msg!=undefined" class="alert border-0 alert-success"
    [ngStyle]="{'background-color': this.msgflag?'rgb(195, 255, 166)':'rgb(255, 181, 181)'}">{{msg}}</div>
  <form #frm="ngForm" (ngSubmit)="create()">
    <div>
      <label for="txtname" class="mb-2">User Name</label>
      <div class="mb-2"><input type="text" name="txtname" class="form-control" [(ngModel)]="userDto.userName" required
          pattern="([a-zA-Z]|[a-zA-Z ]+[a-zA-Z])" #uname="ngModel" placeholder="Enter Name" /></div>
      <div class="alert alert-danger" *ngIf="uname.invalid && uname.touched">
        <div *ngIf="uname.errors?.required">Employee Name is required</div>
        <div *ngIf="uname.errors?.pattern"> Employee Name must contain alphabet and can contain a space in between
        </div>
      </div>
    </div>
    <div class="form-row mb-2">
      <div class="col">
        <label for="txtcont" class="mb-2">Contact No.</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text px-2">+91</div>
          </div>
          <input type="tel" name="txtcont" class="form-control" [(ngModel)]="userDto.contactNo" required
            #contact="ngModel" placeholder="Enter phone no." pattern="[6-9]{1}[0-9]{9}"/>
        </div>
        <div class="alert alert-danger" *ngIf="contact.invalid && contact.touched">contact no. is required</div>
        <div *ngIf="contact.errors?.pattern" class="text-danger"><h6>Contact No pattern doesn't match</h6></div>
      </div>
      <div class="col">
        <label for="txtemail" class="mb-2">Email Id</label>
        <div class="mb-2"><input type="email" name="txtemail" class="form-control" [(ngModel)]="userDto.emailId"
            required #email="ngModel" placeholder="Enter your email id" /></div>
        <div class="alert alert-danger" *ngIf="email.invalid && email.touched">Enter Correct mail Id</div>
      </div>
    </div>
    <div>
      <label for="txtdob" class="mb-2">Date Of Birth</label>
      <div class="mb-2"><input type="date" name="txtdob" class="form-control" [(ngModel)]="userDto.userDob" required
          placeholder="dd-MM-yyyy" #dob="ngModel" /></div>
      <div class="alert alert-danger" *ngIf="dob.invalid && dob.touched">Date of Joining is required</div>
    </div>
    <div>
      <label for="txtadrs" class="mb-2">Address</label>
      <div class="mb-2"><input type="text" name="txtadrs" aria-multiline="true" class="form-control"
          [(ngModel)]="userDto.userAddress" required #address="ngModel" placeholder="Enter your address" /></div>
      <div class="alert alert-danger" *ngIf="address.invalid && address.touched">Address cant be empty</div>
    </div>
    <div>
      <label for="txtloc" class="mb-2">City</label>
      <div class="mb-2"><input type="text" name="txtloc" class="form-control" [(ngModel)]="userDto.location" required
          #location="ngModel" placeholder="Enter your city" /></div>
      <div class="alert alert-danger" *ngIf="location.invalid && location.touched">Location cant be empty</div>
    </div>
    <div class="mb-2">
      <label for="txtpass" class="mb-2">Password</label>
      <div class="mb-2"><input type="password" name="txtpass" class="form-control" aria-describedby="passHelp"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}" [(ngModel)]="userDto.password" required #pass="ngModel"
          placeholder="Set a password"></div>
      <small id="passHelp" class="form-text text-white">must contain 8 to 20 characters that are of at least one number,
        and one uppercase and lowercase letter.</small>
      <div class="alert alert-danger" *ngIf="pass.invalid && pass.touched">Password cant be empty</div>
      <div *ngIf="pass.errors?.pattern" class="text-danger">
        <h6>Password pattern doesn't match</h6>
      </div>
    </div>
    <div>
      <label for="txtconfpass" class="mb-2">Confirm Password</label>
      <div class="mb-2"><input type="password" appPasswordMatch=txtpass name="txtconfpass" class="form-control" [(ngModel)]="confPass" required
          #confpass="ngModel" placeholder="Confirm password"></div>
      <div class="alert alert-danger" *ngIf="confpass.touched && confpass.errors?.required"> Confirm Password cant be empty</div>
      <div class="alert alert-danger" *ngIf="confpass.touched && confpass.errors?.notEqual && !confpass.errors?.required">Confirm Password should be same as password</div>

    </div>
    <div>
      <label for="txtrole" class="mb-2"> Role</label>
      <select name="txtrole" class="form-control custom-select mb-2" required [(ngModel)]="userDto.role"
        #role="ngModel">
        <option value="user">User</option>
        <option value="admin">Admin</option>
      </select>
      <div class="alert alert-danger" *ngIf="role.invalid && role.touched">select a role.</div>
      <!-- <div class="mb-4"><input type="text" name="txtrole" class="form-control" [(ngModel)]="userDto.role" required #role="ngModel"/></div> -->
    </div>
    <div class="justify-content-center"><input type="submit" class="btn btn-success text-white" value="Add Employee"
        [disabled]="!frm.valid"></div>
  </form>
</section>