<header class="jumbotron mb-2 pb-2">
  <div id="logo">
    <table>
      <tr>
        <td rowspan="2" class="px-1"><img src="assets/images/angular_whiteTransparent.png" alt="logo" width="110"
            height="110"></td>
        <!-- <div id="name"> -->
        <td>
          <h1>Login Module</h1>
        </td>
      </tr>
      <tr>
        <h5 class="text-warning">Using ANGULAR</h5>
        <!-- </div> -->
      </tr>
    </table>
  </div>
  <div id="login" class="col-11">
    <div class=" text-right" *ngIf="!storageService.loginflag"><a routerLink="/login"
        class="btn bg-warning">Login</a></div>
    <div class="text-right" *ngIf="storageService.loginflag">
      <span class="text-light">Hi, {{storageService.userName|titlecase}} </span>
      <a (click)="doLogout()" class="btn btn-outline-danger text-white">Logout</a>
    </div>
  </div>
</header>
<article class="mx-auto article">
  <nav class="mx-auto px-0">
    <ul class="nav nav-tabs" role="tablist list">
      <li class="nav-item"><a role="tab" href="#prod" data-toggle="tab" routerLink='product'
          class="nav-link mr-1 text-white text-center navbtn">Products</a></li>
      <li class="nav-item"><a role="tab" href="#user" data-toggle="tab" routerLink='user'
          class="nav-link text-white text-center navbtn">Users</a></li>
      <li class="nav-item"><a role="tab" href="#create" data-toggle="tab" routerLink='createaccount'
          class="nav-link ml-1 text-white text-center navbtn">Sign Up</a></li>
    </ul>
  </nav>

  <div class="card card-body mx-auto p-1 mb-4" id="outlet">
    <router-outlet class="tab-content py-2"></router-outlet>
  </div>
</article>

<!-- <footer><h4>by Titas Sarkar & Soumendu Maitra</h4></footer> -->

<!-- 146, 193, 240 -->
<!-- style="width: 110px; background-color: rgb(135, 181, 255);" -->