header{
    background-color: #002042;
}
/* #name{
    padding: 10px 20px;
    margin: 0px;
    padding-top: 20px;
    display: inline-block;
} */
#logo{
    display: inline-block;
    padding: 0px 20px;
    /* border: 1px solid whitesmoke; */
    border-radius: 12px;
}
header div h1{
    color: #D0EEFF;
}
#login{
    cursor: pointer;
}
.article{
    width: 67%;
}
.navbtn, .navbtn:visited {
    width: 110px;
    background-color: rgb(75, 132, 179);
}
.navbtn:hover{
    background-color: rgb(81, 148, 202);
}
.navbtn:focus, .navbtn:active{
    background-color: rgb(73, 161, 248) !important;
}
#outlet{
    background-color: #D0EEFF;
}

@media only screen and (max-width: 30em) {
/* @media all and (max-width: 30em) { */
    .article{
        width: 80%;
    }
    .navbtn{
        border: 1px solid white;
        width: 100%;
        text-align: left !important;
        margin: 0px !important;
        /* display: block;
        width: 20;
        margin: 0.4em auto; */
    }
}