<div class="col-8 mx-auto p-2 m-2">
  <h2  style="font-family: 'Times New Roman', Times, serif;">VIEW BY ID</h2>
  <input type="number" placeholder="Enter Product ID" [(ngModel)]="pid" class="form-control" />
  <input type="button" value="Search" (click)="viewbyid()" class="btn btn-info" />
</div>
<section>
  <div *ngIf="msg!=undefined" class="alert alert-danger">{{msg}}</div>
  <div *ngIf="products!=undefined">
    <table class="table table-primary table-striped" >
      <tr>
        <td rowspan="3"><img src={{products.prodImg}} alt="Image" height="200" width="200" /></td>
        <td style="font-family: 'Courier New', Courier, monospace;">Product ID</td>
        <td>{{products.prodId}}</td>
      </tr>
      <tr>
        <td  style="font-family: 'Courier New', Courier, monospace;">Product Name</td>
        <td>{{products.prodName | titlecase}}</td>
      </tr>
      <tr>
        <td style="font-family: 'Courier New', Courier, monospace;">Product Cost</td>
        <td >{{products.prodCost}}</td>
      </tr>

    </table>
  </div>
</section>