<section class="col-8 mx-auto p-1 m-1 card card-primary" style="background-color: rgb(37, 60, 102);" id="addid">
  <div style="background-color: rgb(196, 231, 245); font-family: 'Bungee', cursive; height: 50px;" class="m-2"><h2 class="text-center mx-auto"  >Add New Product</h2></div>
  <div class="alert border-0 alert-success" *ngIf="msg!=undefined" [ngClass]="{'alert-success':msgflag,'alert-danger':!msgflag}">{{msg}}</div>
  <form #frm='ngForm' (ngSubmit)="add()" >

    <div class="p-1" style="font-weight: bold; color: white; font-size:x-large; font-family: 'Courier New', Courier, monospace;">Product ID</div>
    <div class="p-1"><input type="number" class="form-control" name="txtid" [(ngModel)]='prod.prodId' #pid="ngModel" required/></div>
    <div class="alert alert-danger" *ngIf="pid.invalid && pid.touched" class="alert alert-danger">ID is mandatory</div>

    

    <div class="p-1" style="font-weight: bold; color: white; font-size:x-large; font-family: 'Courier New', Courier, monospace;">Product Name</div>
    <div class="p-1"><input type="text" class="form-control" name="txtname" [(ngModel)]='prod.prodName' #pname="ngModel" required /></div>
    <div class="alert alert-danger" *ngIf="pname.invalid && pname.touched" class="alert alert-danger">
      <div  *ngIf="pname.errors.required">Product Name is required</div>
      <div *ngIf="pname.errors.pattern">Product name must contain alphabets and can have space in between</div>
    </div>

    <div class="p-1" style="font-weight: bold; color: white; font-size:x-large; font-family: 'Courier New', Courier, monospace;">Product Cost</div>
    <div class="p-1"><input type="text" class="form-control" name="txtcost" [(ngModel)]='prod.prodCost' #pcost="ngModel" required/></div>
    <div class="alert alert-danger" *ngIf="pcost.invalid && pcost.touched" class="alert alert-danger">Cost is mandatory</div>

    <div class="p-1" style="font-weight: bold; color: white; font-size:x-large;  font-family: 'Courier New', Courier, monospace;">Add Image URL</div>
    <div class="p-1"><input type="text" name="txtimg" class="form-control" [(ngModel)]='prod.prodImg' #pimage="ngModel" required/></div>
    <div class="alert alert-danger" *ngIf="pimage.invalid && pimage.touched" class="alert alert-danger">Image is mandatory</div>


    <input type="submit" style="font-family: 'Courier New', Courier, monospace; color:black; font-weight: bold; font-size:x-large;" value="Add Product" [disabled]="!frm.valid" class="py-1"/>
  </form>
 
</section>

<!-- pattern="^[A-Za-z\s]{1,}[A-Za-z\s]{0,}$" -->