.btn{
    width: 200px;
}
@media only screen and (max-width: 400px) {
    section{
        width: 85%;
    }
    
    .btn{
        display: block;
        /* width: 100%; */
        margin:0.4em auto;
    }
}