<article class=" mx-auto " [ngStyle]='{"min-height":"100px"}'>
  <section class="row  bg-info p-1 mx-auto justify-content-center tab-pane active rounded">
    <div><input type="button" class="btn btn-warning m-2" value="View Product By  ID" routerLink="prodbyid" /></div>
    <div><input type="button" class="btn btn-warning m-2" value="View Product By NAME" routerLink="prodbyname"/></div>
    <div><input type="button" class="btn btn-warning m-2" value="Add Product" routerLink="addproduct"/></div>
  </section>
  <section class="m-2 mx-auto text-center">
    <router-outlet></router-outlet>
  </section>
</article>
