.btn{
    width: 170px;
}
#vud{
    font-family: 'Abril Fatface', cursive;
}
@media only screen and (max-width: 400px) {
    .btn{
        display: block;
        /* width: 100%; */
        margin:0.4em auto;
    }
}