.btn{
    width: 170px;
}
#vud{
    height: 50px;
    font-family: 'Suez One', serif;
}
@media only screen and (max-width: 400px) {
    .btn{
        display: block;
        /* width: 100%; */
        margin:0.4em auto;
    }
}