<article id="view" class="bg-info mx-auto p-1 m-1 tab-pane active">
  <section class="row bg-info p-1 mx-auto justify-content-center">
      <!-- <div><input type="button" value="View all" class="btn btn-warning mx-2" routerLink="/viewemp"></div> -->
      <div><input type="button" value="View by Name" class="btn btn-warning m-1 p-1" style="width: 110px;" routerLink="userbyname"></div>
      <div><input type="button" value="View All Users" class="btn btn-warning m-1 p-1" style="width: 110px;" routerLink="viewalluser"></div>
  </section>
  <section class="alert alert-success mx-auto col-3" *ngIf="this.userService.msg!=undefined">{{this.userService.msg}}</section>
  <section class="mx-auto text-center" >
      <h2>View Employee</h2>
      <router-outlet></router-outlet>
  </section>
</article>
